<a href="https://colab.research.google.com/github/rlatkdgur040217/firstcode/blob/main/My1st_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.나의 생애 첫 코드작성 (Hello World!)

In [1]:
print("hello world!")

hello world!

2.사칙연산(+,-,*,/)

In [5]:
print(4+4, 4-2, 4*4, 4//2)

8 2 16 2